body {
  height: 100%;
  text-align: center;
  margin: auto;
}

.container {
  background-color: #fac400;
  height: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
button {
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  padding: 10px;
}
button:hover {
  background: #18694e;
}
